.store-tit{
    border-bottom:1px solid #ddd;
    padding: 5px 0;
}
.store-detail-container .store-detail-img{
    padding: 30px;
    text-align: center;
}
.store-detail-container .store-detail-img img{
    max-width: 150px;
}
.store-detail-container .price{
    font-size: 28px;
}