/*.main_div {
	overflow: auto;
	margin-top: 10px;
	font-size: 12px;
	margin-bottom: ;
}

.sub_div {
	float: left;
	padding: 2px;
	width: 120px;
}



.sub_div_a {
	width: 100%;
	overflow: hidden;
}

.sub_div_tag{
	float: right;
	position: relative;
	top: -22px;	
}*/
::selection{ background: #009999; color: #ffffff;}
.main_div {
	overflow: hidden;
	font-size: 12px;
	position: fixed;
	top: 50px;
	background: #ffffff;
	z-index: 3;
	width: 100%;
	padding-bottom: 10px;
	box-sizing: border-box;
	padding-left: 10px;
}
.custom-btn-info+div i{ color: #FFFFFF;}
.sub_div {
	float: left;
	margin-right: 5px;
	position: relative;
}
.sub_div>a{
	padding: 2px 30px 2px 10px !important;
}
.sub_div_a {
	width: 100%;
	/*overflow: hidden;*/
}

.sub_div_tag {
	position: absolute;
	top: 5px;
	right: 1px;
}





.alert_switch{ display: none;}


.type-list{padding: 20px 20px 20px 20px;}
.type-list>input{width: 100%;}
.list-link-a{overflow-x: hidden; overflow-y: scroll; margin: 20px 0px; height: 400px;}
.list-link-a li{ overflow: hidden; height: 40px; line-height: 40px; padding: 0px 15px;}
.list-link-a li a:nth-child(1){ display: block; float: left; width: calc(100% - 82px); overflow: hidden; text-overflow:ellipsis; white-space: nowrap; color: #000000; height: 40px; line-height: 40px;}
.list-link-a li button:nth-child(2){ height: 23px; margin-top: 8.5px; display: block; float: left;}
.list-link-a li button:nth-child(3){ height: 23px; margin-top: 8.5px; display: block; float: right;}
.list-link-a li:nth-child(2n){background:rgb(250,250,250);}
.list-link-a li:hover{ background: rgb(255,250,232);}

.coupon_list{ overflow: hidden; padding-bottom: 20px;}
.coupon_list input , .coupon_list textarea{ max-width: 500px; width: 100%; display: inline-block;}
.coupon_list textarea{ height: 200px;}
.coupon_list>.col-sm-1{ height: 33px; line-height: 33px; text-align: right; min-width: 135px !important;}
.coupon_list>.col-sm-11{width: calc(100% - 140px) !important;}
.coupon_list>p{ height: 15px; line-height: 0px; clear: both; display: block;}

.product_list{ overflow: hidden; padding-bottom: 20px;}
.product_list input , .product_list textarea{ max-width: 500px; width: 100%; display: inline-block;}
.product_list textarea{ height: 200px;}
.product_list>.col-sm-1{ height: 33px; line-height: 33px; text-align: right; min-width: 135px !important;}
.product_list>.col-sm-11{width: calc(100% - 140px) !important;}
.product_list>p{ height: 15px; line-height: 0px; clear: both; display: block;}

.parameter_tab{ float: left; width: 700px !important;}
.parameter_tab tbody tr:nth-child(2n) td , .parameter_tab tbody tr:nth-child(2n) input{ background: #FcFcFc;}
.parameter_tab tbody tr:hover td{ background: #f0f0f0;}
.parameter_tab tbody tr td:nth-child(2n-1){ text-align: center;}
.parameter_tab tbody tr td:nth-child(2n){ text-align: center;}
.parameter_tab thead th{ text-align: center !important; padding: 2px !important;}

.add_ParDiv{ overflow: hidden;}
.add_ParDiv>span{ display: inline-block; height: 33px; line-height: 33px;}
.add_ParDiv>input{ display: inline-block; width: 40%; margin-right: 5px;}
.add_ParDiv>button{ margin-top: -3px;}

.add_parameter_tab{ width: 100% !important; margin-top: 20px !important;}
.add_parameter_tab tr td:nth-child(1){ border-left: 1px solid #dddddd !important;}
input[type=text].text-box-01{ border: none; text-align: center; padding: 0px !important; width: 100%;}
.add_parameter_tab tbody tr:nth-child(2n) td , .add_parameter_tab tbody tr:nth-child(2n) input{ background: #FcFcFc;}
.add_parameter_tab tbody tr:hover td , .add_parameter_tab tbody tr:hover input{ background: #f0f0f0;}
.add_parameter_tab tbody tr td:nth-child(2n-1){ text-align: center;}
.add_parameter_tab tbody tr td:nth-child(2n){ text-align: center;}
.add_parameter_tab thead th{ text-align: center !important; padding: 2px !important;}
.add_parameter_tab button{ margin-right: 3px;}
.tab_div{ max-height: 500px; overflow-y: auto;}

.img-box{ display: block; width: 80px; height: 80px; background: url(../page/admin/img/upload_bg.png) center center no-repeat; background-size: 100% 100%; margin:0px auto 8px;}
.img-box+input[type=file]{ display: none;}
.imgType1_box{ width: 100px; overflow: hidden; float: left; margin:0px 20px 10px 0px; height: 88px;}
.imgType1_preview{ overflow: hidden; text-align: center;}
.imgType1_preview img{ display: block; width: 100%; height: 60px; margin:0px auto 5px;}
/*.imgType1_preview .custom-btn-warning{ display: block; float: left; margin-left: 15px;}
.imgType1_preview .custom-btn-danger{ display: block; float: right; margin-right: 15px;}*/
.imgType1_preview button{ margin: 0px 5px;}


.xh_topDiv{box-sizing: border-box; width: 100%; border: 1px solid #DDDDDD; display: none;}
.xh_title1{box-sizing: border-box; width: 100%; background: #f7f7f7; padding:0px 10px; height: 45px;}
.xh_title1 button{ width: 160px; text-align: center; margin-top: 10px;}
.xh_title1 button span{ margin-top: 6px; float: right;}
.xh_title1 .dropdown{ float: left;}
.xh_box-01{ height: 45px; line-height: 45px; float: left; overflow: hidden;}
.xh_box-01 input{  width: auto; margin: 0px 5px 0px 50px;}

.xh_main{ overflow: hidden; box-sizing: border-box; padding: 10px;}
.xh_addmain{ display: block; width: 80px; text-align: center; float: left; margin-top: 10px;}
.xh_box-02{ width: 100px; float: left; margin-right: 10px; position: relative; border: 1px solid #DDDDDD; text-align: center;}
.xh_box-02>img{ display: block; width: 100px; margin-top: 10px; height: 100px;}
.xh_box-02 .imgType1_box{ margin-right: 0px; float: none; margin: 0px auto;}
.xh_box-03{ width: 100%; height: 30px; line-height: 30px; text-align: center; border: 1px solid #DDDDDD; box-sizing: border-box; margin-bottom: 10px;}
.closeDIV{ display: none; width: 20px; height: 20px; position: absolute; top: -10px; right: -10px; z-index: 20; text-align: center; border-radius: 50%; background: #DDDDDD;}
.closeDIV i{ font-size: 12px;}
.xh_box-02:hover .closeDIV{ display: block;}
[id^="seed"]{ display:none;}
.xh_main_list:after{ display: block; content: ''; clear: both;}
.xh_main_list li{ position: relative; display: block; font-size: 14px; float: left; border: 1px solid #DDDDDD; padding: 2px 5px; margin:0px 10px 10px 0px;}
.xh_main_list li input{ margin-right: 5px;}
.xh_main_list li:hover .closeDIV{ display: block;}
.closeDIV:hover{ cursor: pointer;}
#container01{ display: none;}

.xh_table{ border-collapse: collapse;}
.xh_table th[class^="xh_table_title-"]{ display: none;}
.xh_table th{ height: 30px;}


.xhMainTr{ border-collapse: collapse; border-right: 1px solid #1BBFD5;}
.xhMainTr>div{ float: left;  box-sizing: border-box; border-left: 1px solid #1BBFD5; border-top: 1px solid #1BBFD5; text-align: center;}
.xhMainTr:after{ display: block; content: ''; clear: both;}
.xh_table_main{ clear: both;}
.xh_table_main>.xhMainTr:last-child{ border-bottom: 1px solid #1BBFD5;}
.xhMainValDiv_jiaGe , .xhMainValDiv_kuCun{ width: 7.5%;}
.xhMainValDiv_bianHao , .xhMainValDiv_eWai{ width: 7.5%;}
[class^="xhMainValDiv_"]{ padding: 0px 10px; box-sizing: border-box;}
[class^="xhMainValDiv_"] input{ width: 100%; margin: 0px; height: 25px; margin-top: 3px; text-align: center;}
.xh_table_title2{ overflow: hidden; float: right; width: 30%;}
.xh_table_title2>div , .xh_table_title1>div{ float: left; height: 30px; border: 1px solid #1BBFD5; background: #f7f7f7; line-height: 30px; text-align: center;}
.xh_table_title1>div{ display: none;}
.xh_table_title1{ width: 70%; float: left; overflow: hidden;}
.chose_type{ overflow: hidden;}
.chose_type>select{ display: block; width: 150px; float: left;}
.chose_type>select:nth-child(2){ margin: 0px 20px;}
#yesButton{ margin-left: 150px;}
#TBfile{ display: none;}
#imgupdataButton{ margin-top: 20px; display: block;}
.fahuo{ display: none;}
.tuihuo{ display: none;}


.xh_box-04{ width: 100px;}
.xh_box-04 .imgType1_box{ margin-right: 0px; margin: 0px auto;}
.xh_box-05{ width: 100%; height: 30px; line-height: 30px; text-align: center; box-sizing: border-box; margin-bottom: 10px;}